@import "../media.css";

:root {
  --font-family-global: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
  --glyph-font-size: 0.65rem;
  --glyph-cell-width: 0.4rem;
  --glyph-cell-height: 0.7rem;
  --glyph-space-x: var(--glyph-cell-width);
  --glyph-space-y: var(--glyph-cell-height);
  --main-glyph-columns: 200;
  --article-glyph-columns: 115;
  --article-summary-glyph-columns: 90;
  --text-narrow-glyph-columns: 80;

  transition: all 0.3s ease;

  @media (--desktop) {
    --glyph-font-size: 0.8125rem;
    --glyph-cell-width: 0.5rem;
    --glyph-cell-height: 0.875rem;
    --main-glyph-columns: 160;
    --article-glyph-columns: 92;
    --article-summary-glyph-columns: 72;
    --text-narrow-glyph-columns: 64;
  }
}

html,
body {
  min-height: 100%;
  width: 100%;
  display: flex;
  overscroll-behavior: none;
}

button,
input,
select,
textarea {
  font: inherit;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  font-size: 16px;
  line-height: 1.15;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  color: var(--text-color);
  background-color: var(--background-color);

  @media print {
    font-size: 18px;
  }

  body {
    flex-direction: column;
    align-items: center;

    font-family: var(--font-family-global);

    @media print {
      font-family: Georgia, "Times New Roman", Times, serif;
    }
  }
}

@page {
  size: A3 portrait;
  margin: calc(var(--glyph-space-y) * 2);
}
