@import "../media.css";

header {
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: calc(var(--glyph-space-y) * 2) 0;
  user-select: none;

  @media print {
    display: none;
  }

  > #header-name {
    display: flex;
    align-items: center;
    color: inherit;

    > h2 {
      margin: 0;
      font-size: 1.6rem;

      @media (--desktop) {
        font-size: 2rem;
      }
    }
  }

  > nav {
    position: relative;
    margin: var(--glyph-space-y) 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    > ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: var(--glyph-space-y) calc(var(--glyph-space-x) * 2);
      text-align: center;
      list-style: none;
      margin: 0;
      padding: 0;

      > li {
        a {
          color: inherit;
          font-size: 1.2rem;
          font-weight: 500;
        }
      }
    }
  }
}
