article {
  width: 100%;
  max-width: 46rem;
  font-size: 1.125rem;
  line-height: 1.7777778;
  padding: 2.2rem 0 1.2rem;

  figure {
    margin-inline: 0;

    img {
      width: 100%;
      height: auto; // Let the browser calculate the height to maintain aspect ratio.
      display: block; // Removes any extra white space below the image.
    }

    > figcaption {
      margin-top: 0.4rem;
      text-align: center;
      font-size: 1rem;
      opacity: 0.6;
    }
  }

  h2 {
    margin: 4rem auto 0 auto;

    + p:first-letter {
      font-size: 160%;
      line-height: 1;
      margin-right: 0.1rem;
    }

    &#contents {
      margin-top: 4rem;
      cursor: unset;

      + p {
        text-align: center;
        margin: 0.2rem 0 0 0;
        font-weight: bolder;
        font-style: italic;

        &:first-letter {
          font-size: unset;
          line-height: unset;
          margin-right: unset;
        }

        + ul {
          margin: 2rem auto 4rem auto;

          li {
            text-align: start;
          }

          a {
            color: inherit;
          }
        }
      }
    }
  }

  h3 {
    margin: 2rem auto 1rem 0;
    text-align: left;
  }

  h2,
  h3 {
    cursor: pointer;
    width: max-content;
    max-width: 100%;

    > a {
      color: inherit;
    }
  }

  time[role="doc-subtitle"] {
    p {
      margin: 1rem auto 4rem auto;
      max-width: 32rem;
      line-height: 1.1;
      text-align: center;
      font-size: 1.25rem;
      font-style: italic;
    }
  }

  p {
    text-align: justify;
  }

  > pre {
    width: 100%;
    overflow-x: scroll;
    padding: 0.8rem;
    margin: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    background-color: #212121;
  }

  *:not(pre) {
    > code {
      padding: 0.125rem;
      color: #a92323;
      font-weight: 600;
      border: 1px solid #e0e0e0;
      background-color: white;
    }
  }

  ul {
    li {
      text-align: justify;
    }
  }
}
