# Build
/dist
/tmp
/lib
/lib-types
/server

# Development
node_modules

# Logs
npm-debug.log*

# Misc
.DS_Store
.idea
.vscode

# Generated
public/assets/*
!public/assets/.gitkeep

src/media/articles.json
src/routes/blog/*/index.mdx
src/routes/blog/*/meta.json

# Cloudflare
functions/**/*.js
