# Build
/dist
/tmp
/lib
/lib-types
/server

# Development
node_modules

# Misc
.DS_Store
.env

# Generated
public/assets/*
!public/assets/.gitkeep
public/blog/*
!public/blog/.gitkeep
*.frames

# Cloudflare
functions/**/*.js
