# Build
/dist
/tmp
/lib
/lib-types
/server

# Development
node_modules

# Logs
npm-debug.log*

# Misc
.DS_Store

# Generated
public/assets/*
src/routes/articles/*/index.mdx
src/routes/articles/*/meta.json