.homepage-splash-stage {
  position: fixed;
  inset: 0;
  padding: 0 calc(var(--glyph-space-x) * 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #f4f4f4;

  #homepage-title,
  strong {
    position: relative;
    z-index: 1;
  }

  #homepage-title {
    height: 2.6rem; // Prevents the ti cursor addition causing layout shifting.
    margin: 0;

    --ti-cursor-font-family: var(--font-family-global);
    --ti-cursor-font-size: 1.4rem;
    --ti-cursor-font-weight: 400;
    --ti-cursor-color: currentColor;
  }
}
