#homepage {
  height: 100%;
  padding: 0 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#homepage > h2 {
  margin: 0 0 0.8rem 0;
}

#homepage > p {
  margin: 0;
}
