@use "src/styles/abstracts/mixins";

.article-summary {
  &:not(:last-child) {
    margin-top: 2rem;
  }

  a {
    color: inherit;
    text-decoration: none;

    > .article-summary-cover-image {
      position: relative;
      aspect-ratio: 16 / 9;
      background: #050505;
      overflow: hidden;

      > div {
        position: absolute;
        inset: 0;
        z-index: 1;
      }

      figure {
        width: 100%;
        height: 100%;
        margin: 0;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          opacity: 0;
        }
      }

      picture {
        display: block;
        height: 100%;
      }
    }

    > .article-summary-content {
      margin-top: 0.8rem;

      > time {
        display: block;
        margin-bottom: 0.4rem;
      }

      > h4 {
        margin: 0;
        font-size: 1.125rem;
        text-align: left;
        font-style: normal;
      }

      > p {
        @include mixins.justify-text;
      }

      > .article-summary-content-read-info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
          margin: 0;
        }
      }
    }
  }
}
