@mixin responsive($property, $mobile-value, $desktop-value) {
  & {
    #{$property}: $mobile-value;
  }

  @media (min-width: 46rem) {
    #{$property}: $desktop-value;
  }
}

@mixin mobile-only($property, $value) {
  @media (max-width: 46rem) {
    #{$property}: $value;
  }
}

@mixin desktop-only($property, $value) {
  @media (min-width: 46rem) {
    #{$property}: $value;
  }
}

@mixin justify-text {
  text-align: justify;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}
