@mixin responsive($property, $mobile-value, $desktop-value) {
  & {
    #{$property}: $mobile-value;
  }

  @media (min-width: 46rem) {
    #{$property}: $desktop-value;
  }
}

@mixin mobile-only($property, $value) {
  @media (max-width: 46rem) {
    #{$property}: $value;
  }
}

@mixin desktop-only($property, $value) {
  @media (min-width: 46rem) {
    #{$property}: $value;
  }
}

@mixin hover-capable {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}

@mixin justify-text {
  text-align: justify;
  word-wrap: break-word;
  overflow-wrap: anywhere;
  word-break: break-all;
  hyphens: auto;

  @media print {
    overflow-wrap: break-word;
    word-break: normal;
    hyphens: unset;
  }
}
