:root {
  color-scheme: dark;

  --text-color: #ffffff;
  --link-color: #619fff;
  --inline-code-text-color: #ff6b6b;
  --inline-code-border-color: #242424;
  --inline-code-background-color: #191919;
  --code-background-color: #191919;
  --background-color: #000000;
}
