html,
body {
  min-height: 100%;
  width: 100%;
  display: flex;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  font-size: 16px;
  line-height: 1.15;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  color: #212121;
}

body {
  flex-direction: column;
  align-items: center;

  font-family: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23666' opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  overscroll-behavior: none;
}

@media print {
  body {
    font-family: "Times New Roman", serif;
    background-image: none;
  }
}
