.resume-section > h4 {
  margin: 0;
}

.resume-section > h4:first-letter {
  font-size: 160%;
}

.resume-section > hr {
  height: 1px;
  width: 100%;
  border: none;
  background-color: black;
}

.resume-section ul {
  margin: 0;
  padding: 1rem 0 1rem 0.9rem;
}

.resume-section-without-bullet-points > ul {
  list-style: none;
}

@media screen and (min-width: 46rem) {
  .resume-section ul {
    padding-left: 0.8rem;
  }
}
