.resume-experience-item:not(:first-of-type) {
  margin-top: 1.8rem;
}

.resume-experience-item-content {
  display: flex;
  flex-direction: column;
}

.resume-experience-item-content p {
  margin: 0;
}

.resume-experience-item-company,
.resume-experience-item-position {
  display: flex;
  justify-content: space-between;
}

.resume-experience-item-position i {
  width: 50%;
}

.resume-experience-item-position i:last-child {
  text-align: right;
}

.resume-experience-item-achievements {
  padding-left: 0.9rem;
  margin-top: 0.8rem;
  text-align: justify;
}

.resume-experience-item-achievements li:not(:last-child) {
  margin-bottom: 0.4rem;
}

@media screen and (min-width: 46rem) {
  .resume-experience-item-achievements {
    padding-left: 0.8rem;
  }

  .resume-experience-item:not(:first-of-type) {
    margin-top: 1.4rem;
  }
}
