@import "src/styles/abstracts/mixins";

.resume-experience-item {
  &:not(:first-of-type) {
    @include responsive(margin-top, 1.8rem, 1.4rem);
  }

  > .resume-experience-item-content {
    display: flex;
    flex-direction: column;

    > .resume-experience-item-header {
      display: flex;
      justify-content: space-between;
      column-gap: 6rem;

      > div {
        display: flex;
        flex-direction: column;
        width: 50%;

        &:last-child {
          text-align: right;
        }

        > p {
          margin: 0;
          text-align: end;
        }
      }
    }

    > .resume-experience-item-description,
    > .resume-experience-item-achievements {
      margin: 0.6rem 0 0 0;
    }

    > .resume-experience-item-key-contributions {
      margin: 1.2rem 0 0 0;
    }

    > .resume-experience-item-achievements {
      @include responsive(padding-left, 0.9rem, 0.8rem);

      & {
        @include justify-text;
      }

      li:not(:last-child) {
        margin-bottom: 0.4rem;
      }
    }
  }
}
