@import "../../styles/utilities";

.resume-section {
  margin: 1.2rem 0;

  > h4 {
    margin: 0;

    &:first-letter {
      font-size: 160%;
    }
  }

  > hr {
    height: 1px;
    width: 100%;
    border: none;
    background-color: black;
  }

  p {
    text-align: justify;
  }

  ul {
    margin: 0.8rem 0 0 0;
    @include responsive(padding-left, 0.9rem, 0.8rem);

    li:not(:last-child) {
      margin-bottom: 0.2rem;
    }
  }
}

.resume-section-without-bullet-points {
  > ul {
    list-style: none;
  }
}

.resume-section-split-columns {
  > ul {
    @include responsive(column-count, 3, 4);
  }
}
