@import "../../styles/utilities";

.resume-experience-item:not(:first-of-type) {
  @include responsive(margin-top, 1.8rem, 1.4rem);

  > .resume-experience-item-content {
    display: flex;
    flex-direction: column;

    > .resume-experience-item-name,
    > .resume-experience-item-position {
      display: flex;
      justify-content: space-between;
    }

    > .resume-experience-item-name {
      p {
        margin: 0;
      }
    }

    > .resume-experience-item-description,
    > .resume-experience-item-achievements {
      margin: 0.6rem 0 0 0;
    }

    > .resume-experience-item-position {
      i {
        width: 50%;

        &:last-child {
          text-align: right;
        }
      }
    }

    > .resume-experience-item-key-contributions {
      margin: 1.2rem 0 0 0;
    }

    > .resume-experience-item-achievements {
      @include responsive(padding-left, 0.9rem, 0.8rem);
      text-align: justify;

      li:not(:last-child) {
        margin-bottom: 0.4rem;
      }
    }
  }
}

.resume-experience-item-achievements-only {
  list-style: none;
}
