article {
  width: 100%;
  max-width: 46rem;
  font-size: 1.125rem;
  line-height: 1.7777778;
  padding: 3rem 1rem 2rem;
}

article img {
  width: 100%;
}

article h2 {
  margin: 6rem 0.75rem 0 1rem;
}

article h2 + p:first-letter {
  font-size: 160%;
  line-height: 1;
  margin-right: 0.1rem;
}

article h3 {
  margin: 2rem 0 1rem 0;
  text-align: left;
}

article h4 {
  margin: 1rem auto;
}

article p {
  text-align: justify;
}
}
