article {
  width: 100%;
  max-width: 46rem;
  font-size: 1.125rem;
  line-height: 1.7777778;
  padding: 3rem 1rem 2rem;
}

article figure {
  margin-inline: 0;
}

article figure > img {
  width: 100%;
  height: auto; /* Let the browser calculate the height to maintain aspect ratio */
  display: block; /* Removes any extra white space below the image */
}

article figure > figcaption {
  text-align: center;
  font-size: 1rem;
  opacity: 0.6;
}

article h2 {
  margin: 4rem auto 0 auto;
}

article h2 + p:first-letter {
  font-size: 160%;
  line-height: 1;
  margin-right: 0.1rem;
}

article h3 {
  margin: 2rem auto 1rem 0;
  text-align: left;
}

article h2,
article h3 {
  cursor: pointer;
  width: max-content;
  max-width: 100%;
}

article h2 > a,
article h3 > a {
  color: inherit;
}

article div[role="doc-subtitle"] {
  margin: 1rem auto 4rem auto;
  max-width: 32rem;
  line-height: 1.1;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  font-style: italic;
}

article p {
  text-align: justify;
}

article > pre {
  width: 100%;
  overflow-x: hidden;
  padding: 0.8rem;
  margin: 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  background-color: #212121;
}

article *:not(pre) > code {
  padding: 0.125rem;
  color: #a92323;
  font-weight: 600;
  border: 1px solid #e0e0e0;
  background-color: white;
}
