/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
html,
body {
  min-height: 100%;
  width: 100%;
  display: flex;
}

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  font-size: 16px;
  line-height: 1.15;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  color: #212121;
}

body {
  flex-direction: column;
  align-items: center;

  font-family: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23666' opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  overscroll-behavior: none;
}

a {
  color: #0d47a1;
  text-decoration: none;
}

a:hover,
.clickable:hover {
  opacity: 0.6;
  cursor: pointer;
}

h1 {
  display: block;
  font-size: 2.5rem;
  margin: 0 auto;
  max-width: 32rem;
  line-height: 1.1;
  text-align: center;
  font-weight: 200;
}

h2 {
  display: block;
  font-size: 2rem;
  line-height: 1.1;
  text-align: center;
  font-weight: 600;
}

h3 {
  font-size: 1.4rem;
  max-width: 32rem;
  line-height: 1.1;
  text-align: center;
  font-weight: 600;
}

p {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

code {
  font-size: 0.875rem !important;
  line-height: 0.8 !important;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.8rem;
  user-select: none;
}

#header-name {
  display: flex;
  align-items: center;
}

#header-name img {
  margin-right: 0.4rem;
  width: 40px;
  height: auto;
}

#header-name h2 {
  margin: 0;
  font-size: 1.6rem;
}

header > nav {
  position: relative;
  margin: 0 0 6px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

header > nav > ul {
  list-style: none;
  text-align: center;
  display: none;
  margin: 0;
  padding: 0.8rem;
  flex-direction: column;
  position: absolute;
  top: 2rem;
  background-color: white;
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.15);
  border: 1px solid black;
}

header > nav > ul.is-open {
  display: flex;
}

header > nav > ul > li:not(:last-child) {
  margin-bottom: 0.8rem;
}

header > nav > ul > li a {
  color: inherit;
  font-size: 1.2rem;
  font-weight: bold;
}

.hamburger {
  display: flex;
  padding: 0.6rem;
}

.hamburger > div {
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 100%;
  background-color: #212121;
}

.hamburger > div:not(:last-child) {
  margin-right: 0.4rem;
}

@media screen and (min-width: 46rem) {
  header {
    padding: 0.8rem 2rem;
  }

  #header-name img {
    width: 60px;
  }

  #header-name h2 {
    margin: 0;
    font-size: 2rem;
  }

  header > nav {
    margin: 0 0 14px 0;
  }

  header > nav > .hamburger {
    display: none;
  }

  header > nav > ul {
    position: unset;
    top: unset;
    padding: unset;
    display: flex;
    flex-direction: row;
    background-color: unset;
    text-align: right;
    box-shadow: unset;
    border: unset;
  }

  header > nav > ul > li:not(:last-child) {
    margin-bottom: unset;
    margin-right: 0.8rem;
  }
}

footer {
  padding: 1rem 0;
}
