@use "src/styles/abstracts/mixins";

a {
  color: var(--link-color);
  text-decoration: none;
}

a,
.clickable {
  transition: opacity 0.6s ease;

  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}

h1 {
  @include mixins.responsive(font-size, 2.2rem, 2.5rem);

  & {
    display: block;
    margin: 0 auto;
    max-width: calc(var(--glyph-cell-width) * var(--text-narrow-glyph-columns));
    line-height: 1.1;
    text-align: center;
    font-weight: 200;
  }
}

h2 {
  display: block;
  font-size: 2rem;
  line-height: 1.1;
  text-align: center;
  font-weight: 600;
}

h3 {
  font-size: 1.4rem;
  max-width: calc(var(--glyph-cell-width) * var(--text-narrow-glyph-columns));
  line-height: 1.1;
  text-align: center;
  font-weight: 600;
}

p {
  margin-block-start: var(--glyph-space-y);
  margin-block-end: var(--glyph-space-y);
  margin-inline-start: 0;
  margin-inline-end: 0;
}

ul,
ol {
  padding-inline-start: calc(var(--glyph-space-x) * 3);
}

li > ul,
li > ol {
  padding-inline-start: calc(var(--glyph-space-x) * 2);
}

ol {
  li::marker {
    font-weight: bold;
  }
}
